/* ------------- Mobile & Tablet ------------- */

@media (max-width: 1023px){
    .hide-on-mobile-tablet{
        display: none;
    }
    /* --------------------- Header --------------------- */
    .header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
    .header__wrap{
        background-color: var(--primary-color);
        justify-content: space-between;
    }
    /* Header Logo */
    .header__logo{
        order: 2;
    }
    .header__logo-img-mobile-tablet{
        display: block;
    }
    /* Header Navbar */
    .header__navbar{
        height: 100%;
        width: 80px;
    }
    .header__navbar-icon-mobile-tablet{
        display: block;
        position: absolute;
        color: var(--white-color);
        font-size: 21px;
        top: 50%;
        left: 0;
        padding: 24px;
        margin-left: 30px;
        transform: translateY(-50%);
    }
    .header__navbar-list{
        display: none;
        background-color: var(--white-color );
        position: fixed;
        overflow: auto;
        max-height: 400px;
        top: var(--header-height);
        left: 0;
        right: 0;
        padding: 8px 0;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }  
    .header__navbar-mobile-tablet-check:checked ~ .header__navbar-list{
        display: block;
    }
    .header__navbar-list::-webkit-scrollbar{ 
        display: none; 
    }
    .header__navbar-item{
        padding: 10px 0;
        margin: 0 68px;
        /* border-bottom: 1px solid #ccc; */
    }
    .header__navbar-item > span{
        line-height: 15px;
    }
    /* Subnav */
    .header__subnav-icon-mobile-tablet{
        display: block;
        float: right;
        font-size: 14px;
        transform: translate(-10px, 5px);
    }
    .header__subnav-icon-mobile-tablet-on{
        display: none;
    }
    .header__navbar-item:hover .header__subnav-icon-mobile-tablet-on{
        display: block;
    }
    .header__navbar-item:hover .header__subnav-icon-mobile-tablet-off{
        display: none;
    }
    .subnav{
        display: none;
        position: unset;
        padding: 0;
        box-shadow: unset;
    }
    .subnav__icon{
        float: right;
        transform: translate(27px, 0px);
    }
    .subnav__item{
        width: 100%;
    }
    .subnav__link{
        padding: 10px 0;
        margin-left: 37px;
        /* border-bottom: 1px solid #ccc; */
    }
    .subnav__link:hover .subnav__icon--off{
        display: none;
    }
    .subnav__link:hover .subnav__icon--on{
        display: block;
    }
    /* Side bar */
    .sidebar{
        display: none;
        position: unset;
        padding: 0;
        box-shadow: unset;
    }
    .sidebar__item{
        width: 100%;
    }
    /* Big Nav */
    .bignav{
        position: unset;
        box-shadow: unset;
        /* display: block; */
    }
    .bignav__list{
        padding: 0;
        padding-top: 24px;
        text-align: center;
    }
    .bignav__list:first-child {
        padding-left: 0;
    }
    .bignav__title{
        font-size: 20px;
        padding: 0;
    }
    .bignav__list .subnav__link{
        margin: 0;
    }
    /* User */
    .header__user{
        display: block;
    }
    /* ---------------------- Slider ---------------------- */
    .slider{
        margin-top: var(--header-height);
    }
    .slider__background-img-mobile-tablet{
        display: block;
    }
}

/* ----------------- Mobile ----------------- */

@media (max-width: 740px){
    .hide-on-mobile{
        display: none;
    }
    /* --------------------- Header --------------------- */
    .user-modal-box{
        width: 100%;
        margin: 0 24px;
    }
    /* --------------------- Slider --------------------- */
    .slider__small-title{
        --size: 48px;
    }
    .slider__big-title{
        --size: 70px;
    }
    .slider__introduce{
        --size: 17px;
    }
    /* -------------------- Container -------------------- */
    .preview__video-demo{
        --width: 90vw;
    }
    .preview__big-title{
        font-size: 40px;
        color: #000;
        font-weight: 700;
        margin-bottom: 40px;
    }
    .preview__video-background,
    .preview__description{
        width: 80%;
    }
    .reviewers__title{
        --height: 40px;
    }
    .reviewers__description{
        width: 80%;
    }
    .operations__big-title{
        font-size: 40px;
    }
    .resort__description{
        width: 80%;
        max-width: 500px;
    }
    .resort__item-title{
        --size: 36px;
    }
    .resort__big-title{
        font-size: 35px;
        line-height: 35px;
    }
    .footer__logo-img{
        width: 60%;
    }
    .footer{
        padding: 35px 10px 80px;
    }
}

/* ----------------- Tablet ----------------- */

@media (max-width: 1023px) and (min-width:740px){
    .hide-on-tablet{
        display: none;
    }
    .user-modal-box{
        width: 100%;
        width: 500px;
    }
    /* --------------- Container --------------- */
    .tour{
        margin-bottom: 16px;
    }
    .preview__video-demo{
        --width: 85vw;
    }
    .preview__video-background,
    .preview__description{
        width: 70%;
    }
    .resort__description{
        width: 470px;
    }
    .footer{
        padding: 35px 40px 80px;
    }

}
/* Other size */
@media (min-width: 550px) and (max-width: 739px){
    .resort__item-title{
        --size: 52px;
    }
}
@media (max-width: 550px) and (min-width: 400px){
    /* --------------------- Slider --------------------- */
    .slider__small-title{
        --size: 40px;
    }
    .slider__big-title{
        --size: 60px;
    }
    .slider__introduce{
        --size: 14px;
    }
}
@media (max-width: 400px){
    /* --------------------- Slider --------------------- */
    .slider__small-title{
        --size: 30px;
    }
    .slider__big-title{
        --size: 50px;
    }
    .slider__introduce{
        --size: 12px;
    }
}
@media (max-width: 470px){
    :root{
        --header-height: 64px;
    }
    .header__navbar-icon-mobile-tablet {
        padding: 18px 24px 18px;
    }
    .header__user {
        padding: 14px 24px 14px;
    }
    .header__wrap{
        padding: 0;
    }
    .header__user{
        margin-right: 0;
    }
    .header__navbar-icon-mobile-tablet {
        margin-left: 0;
    }
    .header__navbar-item{
        margin: 0 28px;
    }
}